$theme-color-light: #343f58;
$theme-color-dark: #252c42;
$theme-card-bg: #0f1329;


$theme-light-orange: #f5b091;
$theme-dark-orange: #d4835f;
$theme-light-yellow: #f7d58e;
$theme-dark-purple: #574b90;

$theme-link: #3a99d9;
$theme-link-hover: #2e81b7;

$repo-color: #6b7f9a;
$repo-color-hover: #8ca5c7;

$border-color-light: rgba(255, 255, 255, 0.1);


//

$breakpoint-laptop: 1440px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-mobile-landscape: 667px;
$breakpoint-mobile-landscape-small: 568px;
